<div class="col" id="articles">
    {{#each articles}}
    {{#if this.title}}
    <div class="article my-3 p-3">
        <h2 data-id={{this._id}}>
            {{this.title}}
        </h2>
        <p>
            {{this.summary}}
            <a href="{{this.link}}">Link to the Article</a>
        </p>
    </div>
    {{/if}}
    {{/each}}
</div>
<div class="col" id="notes"></div>